.edit-container {
    margin: 2rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    font-weight: bold;
}

select, input {
    padding: 0.4rem;
    background-color: aliceblue;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 0.4rem;
    background-color: aliceblue;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1rem;
    margin-right: 1rem;
}
